@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #131313;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit, Arial, Helvetica, sans-serif !important;

}

.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}


.scoop-btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;

}

.scoop {
  corner-shape: scoop;
}

.scoop-btn {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.scoop-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Wrapper hides overflow */
.knownfor-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Moving track */
.knownfor-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scrollLeft 20s linear infinite;
}

/* Pause animation on hover */
.knownfor-wrapper:hover .knownfor-track {
  animation-play-state: paused;
}

/* Card */
.knownfor-card {
  min-width: 200px;
  max-width: 200px;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.knownfor-card img {
  width: 100%;
  border-radius: 10px;
}

/* Slight zoom on hover */
.knownfor-card:hover {
  transform: scale(1.05);
}

/* Keyframes */
@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}